.header {
  box-shadow: 0 4px 20px rgba(222, 222, 222, 0.2);
}

.header__body {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo__img {
  width: 55px;
  height: 55px;
}

.logo__title {
  font-size: 16px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav__item {
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.nav__item::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  height: 1px;
  width: 0;
  background-color: grey;
  transition: left 0.3s ease, width 0.3s ease;
}

.nav__item:hover::before {
  left: 0;
  width: 100%;
}

.nav__item a {
  color: #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.profile__img {
  height: 40px;
  width: 40px;
}

.profile__name {
  font-size: 16px;
}